In [1]:
import pandas as pd

In [3]:
ufo_df = pd.read_csv('../data/raw/ufo-scrubbed-geocoded-time-standardized.csv')
ufo_df.columns = ['event_date', 'location', 'state', 'country', 'shape', 'size', 'duration', 'comment',
                             'declaration_date', 'latitude', 'longitude']

/var/folders/vt/q7w1x8zj1vs89gh48cp6vk2r0000gn/T/ipykernel_67274/2718168924.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_df = pd.read_csv('../data/raw/ufo-scrubbed-geocoded-time-standardized.csv')

In [4]:
ufo_df.head()

,event_date,location,state,country,shape,size,duration,comment,declaration_date,latitude,longitude
0,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
1,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
2,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
3,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
4,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889

In [5]:
ufo_df.shape

(80331, 11)

In [6]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80331 entries, 0 to 80330
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   event_date        80331 non-null  object
 1   location          80331 non-null  object
 2   state             74534 non-null  object
 3   country           70661 non-null  object
 4   shape             78399 non-null  object
 5   size              80331 non-null  object
 6   duration          80331 non-null  object
 7   comment           80316 non-null  object
 8   declaration_date  80331 non-null  object
 9   latitude          80331 non-null  object
 10  longitude         80331 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

## Parsing des colonnes

In [7]:
ufo_df = ufo_df.dropna()

### Dates

In [8]:
ufo_df['event_date'] = ufo_df['event_date'].replace('24:00', '00:00', regex=True)
ufo_df['event_date'] = pd.to_datetime(ufo_df['event_date'])

In [9]:
ufo_df['declaration_date'] = pd.to_datetime(ufo_df['declaration_date'])

### Latitude

In [10]:
ufo_df['latitude'] = ufo_df['latitude'].replace('33q.200088', '33')
ufo_df['latitude'] = ufo_df['latitude'].astype(float)

### Country

In [11]:
ufo_df.head()

,event_date,location,state,country,shape,size,duration,comment,declaration_date,latitude,longitude
2,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
3,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611
4,1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.595000,-82.188889
6,1965-10-10 23:45:00,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.117500,-73.408333
7,1966-10-10 20:00:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.586111,-86.286111

In [12]:
ufo_df['country'].value_counts()

us    63552
ca     2942
gb       11
au       10
Name: country, dtype: int64

## Sauvegarde

In [14]:
ufo_df.to_csv('../data/clean/ufo.csv', index=False)